backend/.database/*
!backend/.database/person-data.json
!backend/.database/team-data.json
!backend/.database/places-data.json
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
build
*.iml

*.versionsBackup
*.releaseBackup
release.properties
local.properties

node_modules
npm-debug.log
